
<ion-content>
  <div class="chat-container" #chatContainer>
    <div class="chat-messages">
      <div *ngFor="let message of messages" 
           [ngClass]="{'message': true, 'user-message': message.sender === 'user', 'bot-message': message.sender === 'bot'}">
        <div class="message-content">
          <div *ngIf="message.sender === 'bot'" class="bot-avatar">
            <img src="assets/img/tsn.PNG" alt="Paco" />
          </div>
          <div class="message-bubble">
            <div class="message-text">{{ message.content }}</div>
            <div class="message-time">{{ message.timestamp | date:'shortTime' }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading" class="typing-indicator">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="input-area">
      <ion-input 
        [(ngModel)]="userMessage" 
        placeholder="Type your message..." 
        (keyup.enter)="sendMessage()"
        class="message-input">
      </ion-input>
      <ion-button 
        (click)="sendMessage()" 
        [disabled]="userMessage.trim() === '' || isLoading"
        expand="block" 
        fill="solid" 
        shape="round"
        color="primary"
        class="send-button">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>