<ion-content fullscreen>
  <div class="background">
    <div class="chat-container">
      <ion-buttons slot="start" class="back-button">
        <ion-back-button defaultHref="/home" text="" style="color: black;"></ion-back-button>
      </ion-buttons>

      <img src="assets/img/tsn.PNG" class="logo" alt="Oi Lingo logo" />

      <div class="messages" *ngFor="let msg of messages">
        <div [ngClass]="msg.sender === 'user' ? 'message user' : 'message bot'">
          {{ msg.text }}
        </div>
      </div>

      <div class="input-area">
        <ion-input [(ngModel)]="userInput" placeholder="Type your message..."></ion-input>
        <ion-button (click)="sendMessage()" class="send-button">Send</ion-button>
      </div>
    </div>
  </div>
</ion-content>
