<ion-content fullscreen>
  <div class="login-background">
    <div class="login-container">
      <div class="logo">
        <h1>OI LINGO</h1>
        <img src="assets/img/logo.png" alt="Oi Lingo Logo" />
      </div>

      <h2 class="login-title">Create an account</h2>
      
      <form (submit)="login()">
        <ion-item>
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            name="email" 
            placeholder="email@domain.com"
            autocapitalize="off"
            autocorrect="off"
            inputmode="email"
            clearInput
            required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input 
            type="password" 
            [(ngModel)]="password" 
            name="password" 
            placeholder="Password"
            autocapitalize="off"
            autocorrect="off"
            clearInput
            required>
          </ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Continue</ion-button>
      </form>

      <div class="social-login">
        <ion-button expand="full" (click)="signInWithGoogle()">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Sign In with Google
        </ion-button>
        <ion-button expand="full" (click)="signInWithApple()">
          <ion-icon name="logo-apple" slot="start"></ion-icon>
          Sign In with Apple
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>