<!-- login.page.html -->
<ion-content fullscreen>
  <div class="login-background">
    <div class="login-container">
      <div class="logo">
        <h1>OI LINGO</h1>
        <img src="assets/img/logo.png" alt="Oi Lingo Logo" />
      </div>

      <form (ngSubmit)="login()" class="auth-form">
        <ion-item class="form-item">
          <ion-input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
          </ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
          </ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="login-button">
          Login
        </ion-button>
      </form>

      <div class="separator">
        <span class="separator-line"></span>
        <span class="separator-text">or</span>
        <span class="separator-line"></span>
      </div>

      <ion-button expand="block" fill="clear" (click)="goToSignup()" class="signup-button">
        Create New Account
      </ion-button>

      <div class="social-login">
        <ion-button expand="block" (click)="signInWithGoogle()" class="social-button google">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Sign In with Google
        </ion-button>
        <ion-button expand="block" (click)="signInWithApple()" class="social-button apple">
          <ion-icon name="logo-apple" slot="start"></ion-icon>
          Sign In with Apple
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>