<ion-content>
  <div class="logo">
    <h1 >OI LINGO</h1>
    <img src="assets/img/logo.png" alt="Oi Lingo Logo" />
  </div>


  <h2 class="welcome">OI {{ username}}!<br> WeLCoME bACK</h2>

  <div class="menu-buttons">
    <ion-button  style="--background: #7AF2A8; --color: black; " routerLink="/lesson" >LESSON</ion-button>
    <ion-button style="--background: #FFED69; --color: black;" routerLink="/chatbot">CHAT BOT</ion-button>
    <ion-button style="--background: #FEB737; --color: black;" routerLink="/settings">SETTINGS</ion-button>
    <ion-button style="--background: #F66753; --color: black;">SIGN OUT</ion-button>
  </div>
</ion-content>
